.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon*


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

go
go-*
*valgrind*
.env-*
*.bak
*.log
*.exe
*.dll
*.dSYM
*.o
*.a
*.dyld
*.dc42
*.tar
*.xz
*.cpio
*.bz2
*.gz
*.tgz
*.dart
*.image
slot.*
gdb-run
bin/lisaem
bin/LisaEm.app
bin/blu-to-dc42
bin/dc42-resize-to-400k
bin/dumper
bin/lisadiskinfo
bin/lisaem
bin/lisafsh-tool
bin/losdeserialize
bin/patchxenix
bin/rraw-to-dc42
bin/*.conf
lisaem-output*
experiments
experiments/*
experimental
experimental/*
.cache/*
.ccache/*
.vscode/*
cpu68k/cpu68k-?.c
.last-opts
cpu68k/def68k
cpu68k/gen68k
include/built_by.h
obj/get-uintX-types
src/include/machine.h
src/tools/include/machine.h
src/lib/libdc42/include/machine.h
hashes.txt
output.txt
